<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>01-helloWorld</title>
	<script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.5.6/angular.js"></script>
</head>
<body ng-controller="ycmbcdCtrl as ctrl">
	<table class="table">
		<tr>
			<td>iPhone 价格<input type="number" ng-model="ctrl.iPhone" ng-keyup="ctrl.submit()" /></td>
			<td>Nokia 价格<input type="number" ng-model="ctrl.Nokia" ng-keyup="ctrl.submit()" /></td>
			<td>iPhone+Nokia 价格<input type="number" ng-model="ctrl.add" /></td>
			<td>iPhone*12个的价格<input type="text" ng-model="ctrl.add12" ng-keyup="ctrl.submit()" /></td>
			<td>会员打8折 Nokia 的价格<input type="text" ng-model="ctrl.n80" /></td>
		</tr>
	</table>
</body>
</html>
<script type="text/javascript">
angular.module('myApp',[])
	.controller('ycmbcdCtrl',[function(){
		var self = this;	//设置一个代理变量(解决Java冲突)

		self.submit = function(){	
			self.add = self.iPhone - 0 + self.Nokia;
			self.add12 = self.iPhone * 12;
			self.n80 = Math.floor((self.Nokia * 80)/100);	//可能写的有问题
			//进行post通信
			var post_data = {iPhone:self.iPhone,Nokia:self.Nokia,add:self.add,add12:self.add12,n80:self.n80};
			console.info(post_data);
		}
	}]);
</script>